In [1]:
import math

In [2]:
math.sqrt(25)

5.0

In [3]:
math.pi

3.141592653589793

In [4]:
import math as mt

mt.sqrt(25)

In [5]:
mt.sqrt(25)

5.0

In [15]:
from numpy import random
import numpy as np

In [16]:
# uniform random numbers in [0,1]
dataOne = random.rand(5,5) 
#array not being displayed

In [2]:
np.mean(dataOne)

0.52655658152746854

In [4]:
np.median(dataOne)

0.61515161151815545

In [6]:
np.sum(dataOne)

13.163914538186713

In [8]:
print('I Love data Science')

I Love data Science

In [10]:
variableName  = 25
variableName1 = 'I Love data Science'
print(variableName1)

I Love data Science

In [11]:
variableName = 25

type(variableName)

int

In [12]:
variableName = 25.0
type(variableName)

float

In [13]:
varOne = 25
varTwo = 25.0
varThree = varOne + varTwo
print(varThree)

50.0

In [15]:
varOne = 25
varTwo = 'Hello'
varThree = varOne + varTwo
print(varThree)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [19]:
varOne = str(25)
varTwo = 'Hello'
varThree = varOne + varTwo
print(varThree)

25Hello

In [20]:
listName = [ ]
listOne = [1,2,3,4]
print(listOne[1:3])
print(listOne)
print(listName)

[2, 3]
[1, 2, 3, 4]
[]

In [27]:
tel = {'jack': 4098, 'sape': 4139}
tel['jack']

4139

In [28]:
tel['sape']

4139